.app {
  background-color: var(--background-color);
  &__grid {
    padding: 80px 20px;

    @media (min-width: 768px) {
      padding: 100px 20px;
    }

    @media (min-width: 1440px) {
      padding: 120px 100px;
    }
  }
}
