@import '../../css/index.css';
.card {
  position: relative;
  font-size: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  &__img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  &__info {
    width: 90%;
    height: 25%;
    bottom: 0;
    position: absolute;
    background-color: var(--primary-black);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 1440px) {
      width: 75%;
    }
  }
  &__title {
    margin-left: 12px;
    font-size: 12px;
    font-family: Cormorant;
    font-weight: 500;
    color: var(--primary-white);
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  &__year {
    margin-left: 12px;
    margin-top: 4px;
    font-size: 8px;
    font-family: Inter;
    color: var(--accent-gold);
    @media (min-width: 768px) {
      font-size: 12px;
    }
  }
  &__arrow {
    width: 10%;
    height: 100%;
    background-color: var(--accent-gold);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1440px) {
      display: none;
    }
  }
}
