.header {
  background-color: var(--background-color);
  width: 100%;
  height: 64px;
  color: var(--text-color);
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    path {
      fill: var(--text-color);
    }
  }
  &__button {
    &_theme {
      path {
        fill: var(--text-color);
      }
      &:hover {
        path {
          fill: var(--header-theme-hover);
        }
      }
    }
  }
  &__burger {
    border: none;
    background-color: var(--background-color);
  }

  &__buttons {
    display: none;
  }
}

@media (min-width: 1440px) {
  .header {
    &__burger {
      display: none;
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
      width: 235px;
    }
    &__button {
      height: 100%;
      background: none;
      border: none;
      color: var(--text-color);
      text-transform: uppercase;
      font-size: 16px;
      font-family: Cormorant;
      font-weight: 700;
    }
    &__wrapper {
      width: 60%;
      display: flex;
      justify-content: space-between;
    }
  }
}
