.footer {
  height: 185px;
  width: 100%;
  border-top: 1px solid var(--secondary-gray);
  padding: 32px 20px 32px 20px;
  font-family: Inter;
  font-weight: 300;
  font-size: 12px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 1440px) {
    padding: 40px 100px 40px 100px;
  }

  &__info {
    color: var(--text-color);
    line-height: 17px;
    margin-bottom: 8px;

    span {
      font-weight: 700;
      text-decoration: underline;
    }

    @media (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 0;
    }

    @media (min-width: 1440px) {
    }
  }

  &__author {
    color: var(--secondary-gray);
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 0;
      font-size: 16px;
    }
  }

  &__socials {
    display: flex;

    @media (min-width: 768px) {
      align-self: flex-start;
      justify-content: flex-end;
    }
  }

  &__social {
    margin-right: 20px;

    @media (min-width: 768px) {
      margin-right: 0;
      margin-left: 20px;
    }
  }

  &__wrapper {
    @media (min-width: 768px) {
      height: 88px;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media (min-width: 1440px) {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
